/* Pseudo class */
/* :root is the top most element which is one level above the html element */
:root{
  background-color: aqua;
}

h1:hover{
  color: red;
  /* padding: 50px;
  border: 1px solid blue; */
}

a:active{
  color: green;
}

.list-example-1 p:last-child{
  font-weight: 700;
  color: blue;
}