*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.container{
  background-color: rebeccapurple;
  width: 90vw;
  max-width: 1120px;
  min-height: 70vh;
  margin: 20px auto;
  border: 1px solid red;
  /* height: 600px; */

  display: grid;

  /* grid-template-columns: 133px 133px 133px; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* row-gap: 2px; */
  /* column-gap: 2px; */
  gap: 10px;
  /* justify-items: center; */
  /* align-items: center; */
  /* place-content: center; */
  /* place-items: center; */
  /* justify-items: center; */
  place-content: center;
  /* place-items: center; */
}

.item{
  background-color: aqua;
  border: 1px solid blue;
  font-size: 20px;
  padding: 20px;
  /* width: 100%; */
  /* width: 122px;
  height: 122px; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .item1{
  grid-column-start: 1;
  grid-column-end: 3;
} */