/*base css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: hsla(38, 26%, 83%, 0.849);
}
/*base css*/
.container{
  margin: 100px auto;
  max-width: 820px;
  min-height: 80vh;
  padding: 10px;
  background-color: hsl(272, 77%, 63%);

  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  /* grid-template-columns: 1fr 2fr 1fr; */
  /* grid-gap: 10px; */
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  gap: 10px;
  
  /* justify-content: center; */
  align-content: center;

  /* justify-content: end; */

  /* "If the content of a particular grid item needs bigger space, then, the height will auto adjust by default and all the other grid items in that row will match the height of the longest element in that row. This is the default behaviour.
  If you specify 'grid-auto-rows' then you are specifying the height of the rows irrespective of what height is needed by the grid item."
  */
  /* grid-auto-rows: minmax(100px, auto); */

  /* fixes the height of every cell in the grid */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template-rows: minmax(100px, auto); */
}

.item{
  background: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: 1px solid skyblue;
}













/* 
Default styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}
.container{
  margin: 100px auto;
  max-width: 960px;
  padding: 10px;
} */